fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pillow
requests
pydantic-settings
GeoAlchemy2
shapely
pandas
scikit-learn
opentelemetry-api
opentelemetry-sdk
# ultralytics
python-multipart

# Voice Search - Free AI Alternatives
# Voice Search & AI
openai-whisper
google-generativeai
google-cloud-aiplatform
google-cloud-speech
google-cloud-texttospeech

# Security - .env encryption
cryptography

