fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
GeoAlchemy2
shapely
pandas
scikit-learn
opentelemetry-api
opentelemetry-sdk
ultralytics
python-multipart
openai
